.cv-page {
  grid-template-rows: 0.25fr 1fr 0.25fr auto 0.5fr
}

@media (max-width: 480px) {
  .cv-page {
    grid-template-rows: 0.15fr 1fr 0.15fr auto 0.4fr;
  }
}

.header-logo a {
  text-decoration: none;
  color: #222222;
}

.a:hover {
  text-decoration: none;
  color: #222222;
}

.a:visited {
  text-decoration: none;
  color: #222222;
}

.cv-header-logo {
  display: grid;
}

@media (max-width: 480px) {
  .cv-header-logo {
    justify-content: center;
  }
}

.cv-page__content {
  grid-template-areas: none;
}

.cv {
  display: grid;
  grid-template-areas:
  "cv-desc"
  "skills"
  "work-exp";
  gap: 24px;
}

.cv__desc {
  display: grid;
  grid-area: cv-desc;
}

.cv__skills {
  display: grid;
  grid-area: skills;
}

.skills__list {
  display: grid;
}

.skill {
  display: grid;
  grid-template-areas:
  "frontend-title frontend-desc"
  "backend-title backend-desc";
  grid-template-columns: 80px auto;
  gap: 24px;

}

.skill__desc {
}

.cv__work-exp {
  display: grid;
  grid-area: work-exp;
}

.work-exp__list {
  list-style-type: none;
}

.cv__section-logo {
  font-weight: 500;
  font-size: 32px;
}