/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }



  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

a {
  text-decoration: none;
  color: #3C8DC3;
}

a:hover {
  text-decoration: underline;
  color: #3C8DC3
}

a:visited {
  text-decoration: none;
  color: #3C8DC3
}


                        /* GRID SECTION */


.container {
  display: grid;
  justify-content: center;
  padding: 0 16px;
}

.page {
  display: grid;
  grid-template-areas:
  "."
  "header"
  "."
  "content"
  "footer";
  grid-template-columns: minmax(320px, 800px);
  grid-template-rows: 0.5fr 1fr 0.5fr auto 1fr;
  font-family: 'Quicksand', sans-serif;
}

.page__header {
  display: grid;
  grid-area: header;
  justify-content: center;
}

.header-logo {
  font-size: 64px;
}

.page__content {
  display: grid;
  grid-area: content;
  grid-gap: 16px;
  grid-template-areas:
  "intro"
  "links";
}

.intro {
  display: grid;
  grid-area: intro;
  grid-template-areas:
  "portrait desc";
  grid-template-columns: 240px auto;
  grid-gap: 20px;
}

.intro__portrait {
  display: grid;
  grid-area: portrait;
}

.portrait {
  width: 240px;
  border-radius: 50%;
}

.intro__desc {
  display: grid;
  grid-area: desc;
  align-content: center;
}

.desc {
  font-weight: 50;
  font-size: 24px;
}

.links {
  display: grid;
  grid-area: links;
  grid-template-areas:
  "socials"
  "github"
  "etudes";
}

.links-logo {
  font-weight: 200;
  letter-spacing: 0.2em;
  font-size: 28px;
}

.links__socials {
  display: grid;
  grid-area: socials;
}

.socials {
  padding: 0;
  display: grid;
  list-style-type: none;
  grid-template-areas:
  "cv twitter github instagram vk";
  grid-template-columns: repeat(auto-fit, minmax(32px, 88px));
  grid-template-rows: repeat(auto-fit, 1fr);
  font-size: 16px;
  box-sizing: content-box;
  gap: 16px;
}

.links__github {
  display: grid;
  grid-area: github;
}

.github {
  padding: 0;
  display: grid;
  list-style-type: none;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  font-size: 16px;
}

.links__etudes {
  display: grid;
  grid-area: etudes;
}

.etudes {
}

.etudes__types {
  padding: 0;
  display: grid;
  list-style-type: none;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
}

.etudes__links {
  padding: 0;
  display: grid;
  list-style-type: none;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
}

.page__footer {
  display: grid;
  grid-area: footer;
  justify-content: center;
  align-content: center;
}


