
.control-wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.cart {
  display: grid;
  gap: 16px;
  justify-content: center;
}

#expand-cart {
  display: none;
}

.cart > .cart__items {
  display:none;
}


#expand-cart:checked + .cart > .expanding-button {
  display: none;
}

#expand-cart:checked + .cart > .cart__items {
  display: block;
  overflow-y: scroll;
  height: 85px;
  width: 114px;
}

p {
  margin: 0;
}
