@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;500;600&display=swap');

body {
  background-image: url("https://images.unsplash.com/photo-1476108621677-3c620901b5e7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1567&q=80");
  min-height: 100vh;
  background-size: cover;
  margin: 0;
  font-family: 'Libre Franklin', sans-serif;
}

h1 {
  margin: 50px 0 0 0;
}

.countdown-timer {
  display: grid;
  grid-template-areas:
          'title'
          'timer'
;
  justify-content: center;
  gap: 50px;
}

.countdown-timer__title {
  display: grid;
  justify-content: center;
  font-size: 32px;
}

.title {
  text-align: center;
}

.countdown-timer__timer {
  display: grid;
  justify-content: center;
}

.timer {
  display: grid;
  grid-template-areas:
          'days hours minutes seconds';
  gap: 60px;
}

.timer__days {
  display: grid;
  grid-area: days;
}

.timer__hours {
  display: grid;
  grid-area: hours;
}

.timer__minutes {
  display: grid;
  grid-area: minutes;
}

.timer__seconds {
  display: grid;
  grid-area: seconds;
}


.fixed-width {
  min-width: 200px;
}

.big-text{
  font-size: 100px;
  display: grid;
  justify-content: center;
}

.timer-text {
   display: grid;
   justify-content: center;
   font-size: 20px;
 }

@media screen and (max-width: 750px) {
  .timer {
    display: grid;
    grid-template-areas:
          'days hours'
          'minutes seconds'
  ;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-template-rows: repeat(auto-fill, 200px);
    gap: 60px;

  }
}

@media screen and (max-width: 500px) {
  .countdown-timer__title {
    font-size: 24px;
  }

  .big-text {
    font-size: 80px;
  }
  .timer {
    display: grid;
    grid-template-areas:
          'days'
          'hours'
          'minutes'
          'seconds'
  ;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-template-rows: repeat(auto-fill, 200px);
    gap: 60px
  }
}